@use "../abstracts/variables" as *;


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $text-color;
}

body {
    background-color: $secondary-color;
    font-family: $font-default;
    margin: 0;
    padding: 0;
}

h1{
    color: $main-color;
    line-height: 120%;
    font-size: 64px;
    font-weight: 700;
    margin-top: 20px;
}

h2 {
        color: $main-color;
        line-height: 120%;
        font-size: 56px;
        font-weight: 700;
        margin-top: 20px;
    }

h3 {
    color: $clear-color;
    line-height: 120%;
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
}

h4 {
    color: $clear-color;
    line-height: 120%;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

h5 {
    color: $clear-color;
    line-height: 120%;
    font-size: 24px;
    font-weight: 500;
}

h6 {
    color: $clear-color;
    line-height: 120%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

p {
    color: $clear-color;
    line-height: 150%;
    font-size: 18px;
    font-weight: 400;
}

.heading-display {
    color: $main-color;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 144px */ 
}

.paragraph-small {
    color: $clear-color;
    line-height: 150%;
    font-size: 16px;
    font-weight: 400;
}

.text-captions {
    color: $clear-color;
    line-height: 150%;
    font-size: 14px;
    font-weight: 400;
}

.text-highlight {
    color: $clear-color; 
}

ul, ol {
    color: $main-color;
    list-style: none;
    line-height: 150%;
    font-size: 16px;
    font-weight: 400;

    li {
        padding: 8px;
        margin-bottom: 4px;
        transition: all 0.4s ease;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: $main-color;
            color: $secondary-color;
        }
    }
}